<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore requestTimeout="00:01:30" processPath=".\julealgon.AspNetOptionValidationWebHostRepro.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>